---
layout: default
title: 我的博客
---

<link rel="stylesheet" href="/common.css">
<link rel="stylesheet" href="/blog/blog.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

<div class="container blog-container">
    <div class="blog-header">
        <h1><span class="gradient" color1="#1e3a8a" color2="#60a5fa"><i class="fa fa-book"></i> 我的博客</span></h1>
        <p class="subtitle"><i class="fa fa-pencil-square-o"></i> 记录学习与生活的点滴</p>
    </div>

    <div class="post-grid">
        {% for post in site.posts %}
        <div class="card post-card card-tilt">
            <a href="{{ post.url | relative_url }}" class="post-title link-underline">
                {{ post.title }}
            </a>
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            <div class="post-footer">
                <span class="post-meta">
                    <i class="fa fa-calendar"></i> {{ post.date | date: "%Y-%m-%d" }}
                </span>
                <div class="post-tags">
                    {% for tag in post.tags %}
                    <span class="post-tag"><i class="fa fa-tag"></i> {{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
            <div style="margin-top: 0.6rem; text-align: right;">
                <a href="{{ post.url | relative_url }}" class="link-underline">
                    阅读全文 <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
