<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/blog/blog.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>

    <!-- ====== 导航栏直接写在这里 ====== -->
    <nav class="navbar">
        <a href="/" class="logo"><i class="fa fa-globe"></i> 我的网站</a>
        <div class="nav-links">
            <a href="/"><i class="fa fa-home"></i> 主页</a>
            <a href="/share/"><i class="fa fa-share-alt"></i> 分享留言</a>
            <a href="/tools/"><i class="fa fa-wrench"></i> 工具箱</a>
            <a href="/blog/"><i class="fa fa-book"></i> 博客</a>
            <a href="https://songwangxi.freeflarum.com"><i class="fa fa-comments"></i> 论坛</a>
        </div>
    </nav>

    <!-- 页面内容 -->
    {{ content }}

</body>
</html>
